*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
        background-color: #003366;
    color: white;
    padding: 1em;
    text-align: center;

}


.full-interface{
    background-color: white;
    margin: 1em auto;
    padding: 1em;
    border-radius: 8px;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.other-page-button{
    background-color: green;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.space{
    width: 80%;
}
a{
    color: black;
    text-decoration: none;
}

nav{
   background-color: #f1f3f4;
    padding: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1em;


}
.main{
    padding: 1.5em 2em 1em 2em;
}

.box{
    text-align: justify;
    margin-top: 1.2em;
    padding: 1em;

}
footer {
            background-color: #003366;
            color: white;
            text-align: center;
            padding: 1em;
        }

 @media only screen and (min-width:200px) and (max-width:575px){
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 18px;
    }
    .main{
        padding: 0px;
    }
 }